@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    text-transform: capitalize;
    box-sizing: border-box;
    
}
header {
    width: 97%;
    max-width: 980px;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
    color: white
}

ol li {
    list-style-type: none;
}