/* Description: General Styles CSS file */

/*****************************************
Table Of Contents:
- General Styles

/**************************/
/*     General Styles     */
/**************************/

:root {
    color: #fff
}

html {
    scroll-behavior: smooth;
}


body {
    background: linear-gradient(to bottom, #1e1e1e, #000);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#content {
    display: none; /* O conteúdo começa oculto */
  }

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 6.95rem 0 0 0;
}

footer img {
    height: 20px;
    opacity: 1;
}

footer img:hover {
    opacity: 1;
}